* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    user-select: none;
    font-family: 'Inter', sans-serif;
}

.center {
    text-align: center;
}

.dragzone {
    position: fixed;
    top: 0;
    height: 30px;
    margin:30px;
    left: 0;
    right: 0;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

.contains {
    position: fixed;
    left:0;
    right:0;
    bottom:0;
    top:0;
    border-radius: 10px;
    overflow: hidden;
}