.login {
    background: #fff;
    position: absolute;
    left: 0;
    margin: 10px;
    right: 0;
    padding: -5px;
    bottom: 25px;
    border-radius: 10px;
    overflow: hidden;
    top: 25px;
}


.login .login_main {
    transition: 500ms;
}

.loader {
    opacity: 1;
    position: absolute;
    transition: 1000ms;
    bottom: 250px;
    transform: translateY(100px);
}




.login .head {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 273px;
    transition: 1000ms height;
    align-items: center;
}

.login.fullheight .head {
    height: 100%;
}

.login:not(.fullheight) .loader {
    opacity: 0;
    transform: translateY(0);
}





@keyframes loaderLogin {
    0% {
        opacity: 1;
        transform: translateY(100px);
    }
    75% {
        opacity: 1;
        transform: translateY(100px);
    }
    100% {
        opacity: 0;
        transform: translateY(0px);
    }
}


@keyframes openLogin {
    0% {
        height: 100%;
    }
    75% {
        height: 100%;
    }

    100% {
        height: 290px;
    }
}


.login .head h1 {
    font-size: 60px;
    color: #fff;
    font-weight: 200;
}

.login .head h1:first-letter {
    color: #e23f44;
    font-weight: 500;
}

.login .home {
    padding: 35px 35px 10px 35px;
}

.login .home h2 {
    font-size: 22px;
    color: #101828;
    font-weight: 600;
    margin-bottom: 35px;
}

.login .home h3 {
    font-size: 18px;
    color: #101828;
    font-weight: 700;
}

.login .home p {
    font-size: 15px;
    margin-top: 10px;
    color: #101828;
    font-weight: 400;
}

.login_main .head p {
    position: fixed;
    bottom:50px;
    font-size:18px;
    color:#aaa;
    transition: 500ms;
    opacity: 0;
    transform:translateY(50px);
    text-shadow: 2px 2px 16px #666666;
}

.login_main .head p.show {
    transform:translateY(0);
    opacity: 1;
}

.login_main .head p span {
    color:#fff;
}

.login .home .item {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 115px;
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 10px;
    background: #f5f5f5;
    cursor: pointer;
    transition: 150ms;
    grid-template-columns: calc(100% - 30px) 30px;
}

.login .home .item:last-child {
    margin-bottom: 0;
}

.login .home .item:hover {
    transform: scale(1.05);
}

.login .about {
    padding: 25px;
    font-size: 14px;
    transition: 150ms;
    cursor: pointer;
}

.login .about.inverse {
    background: #101828;
    color: #fff;
}

.login .about a {
    text-decoration: none;
    color: #101828
}

.login .about:not(.inverse):hover {
    background: #101828;
    transform: scale(1.05);
    color: #fff;
}

.login .about.inverse:hover {
    background: transparent;
    color: #101828;
}

.login .about:hover a {
    color: #fff;
}

.login .login_presentation {
    padding: 35px;
}

.login .login_presentation .item {
    display: flex;
    flex-direction: column;
    padding: 25px;
    margin-bottom: 10px;
    transition: 150ms;
}

.login .login_presentation .item:hover {
    transform: scale(1.05);
}

.login .login_presentation .item h3 {
    margin-bottom: 10px;
    color: #201828;
    font-size: 20px;
    font-weight: 700;
}

.login .login_presentation .item p {
    font-size: 15px;
    line-height: 1.5em;
}


.loader svg {
    width: 55px;
    height: 55px;
    display: inline-flex;
    transform-origin: center;
    animation: rotate 1s linear infinite;
    -webkit-animation: rotate 1s linear infinite;
}

.loader svg circle {
    stroke: #fff;
    fill: transparent;
    stroke-width: 2 !important;
    stroke-dasharray: 50, 200;
    animation: dash 1.5s linear infinite;
    -webkit-animation: dash 1.5s linear infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 120, 200;
        stroke-dashoffset: -10px;
    }

    100% {
        stroke-dashoffset: -125px;
    }
}