

.viewManga .voile {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 4;
    bottom: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.65);
    padding: 25px;
    border-radius: 10px;
    transition:500ms;
    transform: translateY(4.75%);
}


.viewManga .main {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 5;
    bottom: 0;
    background: #fff;
    padding: 25px 50px;
    border-radius: 10px;
    transition: 500ms !important;
    transform: translateY(55%);
}

.viewManga.hide .voile {
    opacity: 0;
    visibility: hidden;
}


.viewManga.hide .main {
    transform: translateY(110%) !important;
}




.viewManga .main img {
    width: 90px;
    height: 90px;
    margin-top:-65px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    margin-bottom: 20px;
}

.viewManga .main h2 {
    font-weight: 500;
    font-size: 25px;
}
.viewManga .action {
    position: absolute;
    display: flex;
    margin-top:-10px;
    right: 50px;
}

.viewManga .action .btn {
    display:inline-flex;
    padding:7px 10px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background:#141236;
    color:#fff;
    transition:150ms;
    font-weight: 400;
}

.viewManga .action .btn:hover {
    transform:scale(1.05);
}
.viewManga .main p {
    font-weight: 400;
    font-size: 15px;
    margin-top:7px;
    color:#505050
}

.viewManga .main .description {
    line-height: 1.5em;
    font-size: 13.5px;
    margin:20px -20px 0 -20px;
}